.tooltip{
	position:absolute;
	z-index:100;
	display:none;
	border:1px solid #1e1e1e;
	background:#f6f6ef;
}

.tipHead{
	padding-left:10px;
	color:black;
	font-weight:bold;
	height:24px;
	line-height:24px;
	background:#ff6600;
}

.tipBody{
	padding:10px;
}